<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="com.crossit.dao/FileDao">


	<select id="getFileBoardList" resultType="com.crossit.entity.FileVo">
		SELECT * FROM file ORDER BY boardId
	</select>

	

	
	
	
	<!-- 파일 인서트와 새 글 추가문을 다시sql 작성했으므로 수정해야할듯. 보드 매퍼로 옮기자-->
	<!-- 새 글 추가 sql -->
	<insert id="insertArticle" parameterType="java.util.Map">
		<![CDATA[
			insert into board(articleNum, memberId, title,content, imgfileName) 
			values(#{articleNum},#{memberId},#{title},#{content}, null)
		 ]]>
	</insert>
	
	
	
	
	<!-- 새 글 추가시 여러 개의 이미지 파일을 첨부할 수있도록 foreach사용 -->
	<insert id="insertNewImg" parameterType="java.util.map">
		<foreach item="item" collection="list" open="INSERT ALL"
			 			separator=" " close="SELECT * FROM board">
			INTO file(imgFileNo,imgFileName,articleNum,regDate)
			VALUES (#{item.imgFileNo} , #{item.imgFileName},#{item.articleNum},sysdate)
		</foreach>
	
	</insert>
	
	<!-- 새로 추가할 이미지 정보의 이미지 번호를 가져옴 가장 나중 번호.-->
	<select id ="selectNewImgFileNo" resultType="int">
		<![CDATA[
			SELECT IFNULL(max(imgFileNo),0) from file
		 ]]>
	</select>



</mapper>